<div class='d-flex justify-content-center align-items-center'>
    <div class='container border border-light rounded py-5 px-3 mx-auto home-page d-flex flex-column align-items-center justify-content-center text-justify'>
        <h2>New Trasaction</h2>
        <%= form_with url: user_category_purchases_path, method: :post, local: true, scope: :purchase do |f| %>
            <div class="mb-3">
                <%= f.label :name, class: 'form-label' %><br>
                <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="mb-3">
                <%= f.label :amount, class: 'form-label' %><br>
                <%= f.text_field :amount, class: 'form-control' %>
             </div>
            <div  class="actions">
                <%= f.submit 'Add Transaction', class: 'btn btn-primary' %>
            </div>
        <%end%>
    </div>
</div>

