<% categories.each do |c| %>
    <div class="list-group list-group-light m-2 card">
        <a href="<%= user_category_purchases_path(user_id: current_user.id, category_id: c.id) %>"  class="list-group-item list-group-item-action ">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center w-100">
                    <%= image_tag c.icon, size: "85x85"%>
                    <div class="m-3 flex-grow-1">
                        <p class="fw-bold mb-1"><%= c.name%></p>
                        <hr class='m-0 w-100'/>
                        <div class="text-muted"><%= c.created_at.strftime('%a-%b-%Y')%></div>
                    </div>
                </div>
                <span><b>
                <% total = 0 %>
                <% c.purchases.each do |p|%>
                    <%total += p.amount%>
                <%end%>
                $<%= total%>
                </b></span>
            </div>
        </a>
    </div>
<% end %>
